.slidev-layout {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-title bg-clip-text text-white
  }

  h1 {
    @apply text-5xl mb-6;
  }

  th {
    @apply font-bold text-white
  }

  strong {
    @apply font-bold text-white
  }
}

.container {
  display: flex;
  gap: 0px; /* Optional: Adds space between columns */
  justify-content: space-between;
}

.margin-top--small {
  margin-top: 10px;
}

.margin-top--medium {
  margin-top: 20px;
}

.margin-top--large {
  margin-top: 30px;
}

.margin-top--xlarge {
  margin-top: 40px;
}

.margin-left--small {
  margin-left: 10px;
}

.margin-left--medium {
  margin-left: 20px;
}

.margin-left--large {
  margin-left: 30px;
}

.margin-left--xlarge {
  margin-left: 40px;
}


.column {
  flex: 1;
  padding: 10px;
}

.column-left {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.column-right {
  border-right: 1px solid #ccc;
}

.column-middle {
  border-right: 1px solid #ccc;
}

.bottom-image {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Ensure it's on top of other elements */
}

.full-screen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire screen without distortion */
  z-index: 1000; /* Ensure it's on top of other elements */
}
